.cache
__pycache__/
__pycache__/*
*/__pycache__/
*/__pycache__/*
notes.md
.ipynb_checkpoints/
*.ipynb
.DS_Store
.env
req.sh
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
